
<form [formGroup]="miFormulario" (ngSubmit)="login()" autocomplete="off">
    <div class="p-inputtext-sm md:p-inputtext-lg">
        <div class="m-4">
            <span class="p-float-label">
                <input id="float-email"  
                formControlName="correo"
                type="text" pInputText 
                > 
                <label for="float-email">Email</label>
                <div>
                    <span
                    class="text-red-500 mt-2"
                    error-msg
                    mensaje="Formato de Email Incorrecto"
                    [valido]="!tieneError('correo')"
                    >
                    </span>
                </div>
            </span>
        </div>
        <div class="m-4">
            <span class="p-float-label">
                <input id="float-password"
                formControlName="password"
                class="p-inputtext-sm" type="password" pInputText > 
                <label for="float-password">Password</label>
                <div>
                    <span
                    class="text-red-500 mt-2"
                    error-msg
                    mensaje="Formato de Password Incorrecto"
                    [valido]="!tieneError('password')"
                    >
                    </span>
                </div>
            </span>
        </div>
        <div class="m-4 flex justify-content-center">
            <button pButton pRipple type="submit"
            label="Secondary" 
            class="p-button-rounded p-button-secondary">
            </button>
        </div>
    </div>
</form>