

<div class="w-full">
  <div class="surface-500">
    <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded"
    routerLink="/main"
    ></button>  
  </div>
  <div class="w-full surface-500 min-h-screen sm:flex sm:justify-content-center sm:align-items-center">
    <div class="min-w-min sm:col-4 border-2 surface-400 border-red-500 border-round-sm shadow-5
          sm:flex sm:justify-content-center sm:align-items-center sm:flex-column
      ">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
