/* You can add global styles to this file, and also import other style files */
html,body{
    width:100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--surface-500);
    color:white;
}
*{
    margin:0px;
    padding:0px;
}