<div *ngIf="!movie;else contenido">
    TODO:// Spinner xd
</div>
<ng-template #contenido>
    <div class="col-12 flex flex-wrap">
        <div class="col-6">
            <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded"
            routerLink="/main"
            ></button>
            <h3 class="text-center font-bold">Funciones disponibles: </h3>
            <div class="flex flex-wrap">
                <div  class="my-3 mx-3 bg-yellow-600 w-3 border-round-2xl cursor-pointer" *ngFor="let funcion of (functionsResponse | async)">     
                        <div class="m-2" [routerLink]="['/main/funcion',funcion._id]">
                            {{funcion.startDate |date:'shortTime'}}
                            {{funcion.startDate | date:'shortDate'}}</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h1 class="text-center font-bold">
                {{movie.name}}
            </h1>
            <img class="w-full" [src]="movie.image" [alt]="movie.name">
        </div>
    </div>
</ng-template>